@model IEnumerable<ShopatBanaturalPortal.Models.InventoryItem>

@{
    ViewBag.Title = "Index";
}

<h2>Inventory Manifest</h2>
<br />


<div>

    <div class="form-group col-sm-6 col-md-6 col-lg-6">
        @using (Html.BeginForm())
        {
            <p>
                Search @Html.TextBox("SearchString", null, new { @class = "form-control" })
                <input type="submit" value="Search" class="btn btn-primary btn-sm" /> <br /> <br />
            </p>
        }
    </div>

    <div class="form-group col-sm-6 col-md-6 col-lg-6">
        <p>
            <br />
            @Html.ActionLink("New Inventory Item", "Create", "InventorItems", new { @class = "btn btn-success" })
        </p>
    </div>

</div>
<br />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Brand
        </th>
        <th>
            Store ID
        </th>
        <th>
            Quantity Left
        </th>
        <th>
            Last Restocked
        </th>
        <th>
            Type
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            <em>@Html.DisplayFor(modelItem => item.Brand)</em>
        </td>
        <td>
            <span class="alert-danger">@Html.DisplayFor(modelItem => item.CustomID)</span>
        </td>
        <td>
            <strong>
            <em>@Html.DisplayFor(modelItem => item.QuantityLeft)</em>
            </strong> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastShipmentRecieved)
        </td>
        <td>
            <em>@Html.DisplayFor(modelItem => item.Type)</em>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneralDescription)
        </td>
        <td style="text-align:center;">
            
            <span style="color: lightgreen">@Html.ActionLink("Register Transaction", "ItemSold", new { ID = item.ID }, new { @class = "btn btn-info btn-xs" })</span><br />
            <span style="color: lightgreen"> @Html.ActionLink("Transaction History", "TransactionHistory", new { ID = item.ID }) </span>
           


        </td>
        <td style="text-align:center;">
            <span style="color: lightgreen">@Html.ActionLink("Register Shipment", "UpdateShipments", new { ID = item.ID }, new { @class= "btn btn-info btn-xs" })</span><br />
            <span style="color: lightgreen">@Html.ActionLink("Shipment History", "ShipmentHistory", new { ID = item.ID })</span>
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", "InventoryItems", new { id = item.ID }, new { @class = "text-danger btn btn-warning btn-xs" }) |
        </td>
    </tr>
}

</table>
