@model ShopatBanaturalPortal.Models.InventoryItem

@{
    ViewBag.Title = "Edit";
}

<h2>Inventory</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Update Inventory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <div class="form-group">
            @Html.Label("ID:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="ID" style="width:100px; background-color: #E8DAEF" readonly="readonly" type="text" name="ID" value=@Model.ID>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, "Name:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ItemName)
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Price, "Price:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Price) $
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.QuantityLeft, "Quantity Left:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.QuantityLeft)
            </div>
        </div>
        <hr />
        <br />
        <div class="form-group">
            @Html.Label("Amount Sold:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Sold" style="width:100px; background-color: lemonchiffon" type="text" name="Sold">
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
